body {
    background: #000000;
    color: #ffffff;
    font-family: sans-serif;
}

.atk-hero {
    background: #002366;
    padding: 80px 20px;
    text-align: center;
}

.atk-countdown-wrapper {
    text-align: center;
    padding: 120px 20px;
}

#countdown strong {
    font-size: 2rem;
    margin: 0 5px;
}
